.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #4a4b4c;
  padding-bottom: 30px;
  border-radius: 10px; /* Adjust border radius as needed */
}

.homeText {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

