@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.listing-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #F8F4ED;
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Montserrat';
    padding-right: 40px;
}
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="checkbox"] {
    margin-right: 10px;
    
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
  }
  
  button {
    padding: 10px 15px;
    background-color: #6E7B8B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4a4b4c;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: row;
  }
  
  .checkbox-group-vertical {
    display: flex;
    flex-direction: column;
    
  }
  
  .checkbox-group-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .checkbox-group-vertical label,
  .checkbox-group-horizontal label {
    margin-right: 20px; /* Adjust spacing between checkboxes */
  }

  /* Existing styles */



  